*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins"sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 40, 40);
}
.login-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.login-box{
    background: white;
    padding: 30px 120px;
    width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
}
.logo{
    width: 30px;
    margin-bottom: 20px;
}
.login-box h2{
    margin-bottom: 20px;
}
.login-box button img{
    width: 18px;
    margin-right: 10px;
}
.login-box button{
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    background: transparent;
    border: 1px solid gray;
    font-weight: 500;
}
.login-box hr{
    border: 0;
    height: 1px;
    background: gray;
    margin: 5px;
}
.login-box span{
    display: block;
    width: 40px;
    margin: auto;
    font-size: 14px;
    background: white;
    font-size: 15px;
    margin-top: -16px;
}
.login-box input{
    width: 100%;
    background: transparent;
    border: 1px solid gray;
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0;
}
.container button{
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 20px;
}
::placeholder{
    font-weight: 500;
    color: rgb(37, 37, 37);
}
.forget  a{
    text-decoration: none;
    color: blue;
    border: 0;
    margin-bottom: 10px;
}
.login-box p{
    text-align: left;
    font-size: 14px;
    color: gray;
    margin: 40px 0 50px;
}
.login-box p a{
    text-decoration: none;
    color: blue;
}