*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins"sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 40, 40);
}
.id{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding: 5px;
    width: 99%;
    height: 50px;
    border-color: rgba(128, 128, 128, 0.288);
    border-radius: 10px;
    text-align: left;
}
.inputfield input{
    /* text-align: left; */
    border-radius: 3px;
}
/* .inputfield::placeholder{
    text-align: left;
} */
.login-box{
    background: white;
    padding: 30px 40px;
    width:540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.logo{
    width: 30px;
    margin-bottom: 20px;
}
.login-box h2{
    margin-bottom: 20px;
}
h3{
   color: rgba(0, 140, 255, 0.651); 
}
p{
    color: gray;
}
.month{
    padding: 15px 35px;
    border-color: rgba(128, 128, 128, 0.664);
    border-radius: 5px;
}
.Day{
    margin: 20px;
    padding: 15px 35px;
    border-color: rgba(128, 128, 128, 0.664);
    border-radius: 5px;
}
.Year{
    padding: 15px 35px;
    border-color: rgba(128, 128, 128, 0.664);
    border-radius: 5px;
}
